
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Game";
}


<body>
  <div class="col col-lg-12" style="margin-left: 70px;">
      <div class="col" style="padding-left: 0px; padding-right: 0px;">
          <img src="~/App_Images/sir.png" style="width: 120px; height: 160px; float: left;" /> 
          <p style="margin-top: 20px; height: 120px; width: 500px; border: solid; border-color: black; float: left; margin-left: 20px; text-align: center;">
              Treśc pytania
          </p>
          <!-- <img src="~/App_Images/kelner.png" style="height:200px; width: 160px;"/> -->
      </div>
      <div style="clear: both;"></div>
      <div class="col" style="margin-top: 70px;"></div>
      <div class="col col-lg-10">
          <div class="col col-lg-6">
              <img src="~/App_Images/challenge.jpg" style="height: 160px; width: 100px;" />
              <input type="submit" value="Odpowiedz nr 1" style="height: 80px; width: 700px; margin-top: 20px; background-color: white; border: solid 8px; border-color: black;" />
          </div>
          <div class="col col-lg-6">
              <img src="~/App_Images/challenge.jpg" style="height: 160px; width: 100px;" />
              <input type="submit" value="Odpowiedz nr 2" style="height: 80px; width: 700px; margin-top: 20px; background-color: white; border: solid 8px; border-color: black;"  />
          </div>
          <div class="col col-lg-6">
              <img src="~/App_Images/challenge.jpg" style="height: 160px; width: 100px;" /> 
              <input type="submit" value="Odpowiedz nr 3" style="height: 80px; width: 700px; margin-top: 20px; background-color: white; border: solid 8px; border-color: black;" />
          </div>
          <div class="col col-lg-6">
              <img src="~/App_Images/challenge.jpg" style="height: 160px; width: 100px;" />
              <input type="submit" value="Odpowiedz nr 4" style="height: 80px; width: 700px; margin-top: 20px; background-color: white; border: solid 8px; border-color: black;" />
          </div>
      </div>
  </div>
</body>