@model Zlotowkarze.Models.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Main";
}

<head>
    <title>Main</title>
    <style>
        #help {
            float: right;
            margin-right: 30px;
            margin-top: 40px;
            font-size: 16px;
        }
    </style>
    <script type="text/javascript">

        function OnClickHandler() {
            alert('Witaj w Centrum Pomocy!\n \nDrogi Uczestniku! Za chwilę zobaczysz panel rozgrywki gry "Złotówkarze". 10 pytań - 10 złotówek. Odpowiadaj poprawnie na pytania i zdobywaj złotówki! Ale uważaj! za złą odpowiedź są one odejmowane. Na każde pytanie masz 20 sekund. I jak? Gotowy? To start!\nMiłej zabawy!');
        };

    </script>
</head>

<body style="background-image: url('../../App_Images/whoa.png'); background-repeat:no-repeat;">
    <div class="col col-lg-offset-7 center-block" style="margin-top: 40px; text-align: center;">
        <p style="font-style: italic; font-size: 26px; font-family: 'Comic Sans MS'">Od stówki do złotówki ...</p>
        <img src="~/App_Images/logo.png" alt="logo" />
        <h2 style="font-size: 86px;">Podaj nick:</h2><br />
        @using (Html.BeginForm())
        {
            <div class="text-center" data-dissmiss="alert">
                @Html.ValidationSummary(true, "Ty buntowniku! Mimo wszystko musisz podać swój Nickname :)", htmlAttributes: new { @class = "alert alert-info h5"})
                @Html.TextBoxFor(x => x.Nickname)
            </div>
            <br />
        <div class="form-group">
            <input type="submit" value="No to gramy!" class="btn btn-primary" />
        </div>
        }
        <div id="help" onclick="OnClickHandler()">
            Jak grać? <img src="~/App_Images/znak_zapytania.png" />
        </div>
    </div>
</body>
