@model Zlotowkarze.Models.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Main";
}

<head>
    <title>Main</title>
    <style>
        #help {
            float: right;
            margin-right: 30px;
            margin-top: 40px;
            font-size: 16px;
        }
    </style>
</head>

<body style="background-image: url('../../App_Images/whoa.png'); background-repeat:no-repeat;">
    <div class="col col-lg-offset-7 center-block" style="margin-top: 40px; text-align: center;">
        <p style="font-style: italic; font-size: 26px; font-family: 'Comic Sans MS'">Od stówki do złotówki ...</p>
        <img src="~/App_Images/logo.png" alt="logo" />
        <h2 style="font-size: 86px;">Podaj nick:</h2><br />
        @using (Html.BeginForm())
        {
            <div class="text-center" data-dissmiss="alert">
                @Html.ValidationSummary(true, "Ty buntowniku! Mimo wszystko musisz podać swój Nickname :)", htmlAttributes: new { @class = "alert alert-danger h5" })
                @Html.TextBoxFor(x => x.Nickname, new { @maxlength = "20", @autocomplete = "off" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="No to gramy!" class="btn btn-primary" />
            </div>
        }
        <div id="help">
            Jak grać? <img src="~/App_Images/znak_zapytania.png" />
        </div>
    </div>
</body>
